<% provide :title, t(".title") %>

<div>
  <% if current_user.admin? %>
    <%= link_to "Create User", new_user_path, class: "btn btn-primary" %>
  <% end %>
</div>
<%= will_paginate %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate %>
